<div th:fragment="content" class="container">
  <table class="table table-striped mt-5">
    <form action="#" th:action="@{/addCourses}" th:object="${Course}" method="post">

      <select th:field="${courseId}" >
        <option value="" disabled selected>Select Course</option>
        <option th:each="course : ${courseList}" th:value="${course.id}" th:text="${course.name}"></option>
      </select>
      <input type="text" th:field="${Course.name}" placeholder="Name" />
      <input type="text" th:field="${Course.id}" placeholder="ID" />
      <input type="text" th:field="${Student.id}" placeholder="Student" />
<!--      <select th:field="${exam.status}">-->
<!--        <option th:each="status : ${T(pl.isa.javasmugglers.web.model.Exam.status).values()}" th:value="${status}" th:text="${status}"></option>-->
      </select>
      <input type="submit" value="Submit" />
    </form>
  </table>
</div>
