<div th:fragment="content" class="container mt-5">
    <style>
        .btn-operation {
            width: 150px;
        }
        .justify {
            text-align: justify;
        }
        .center {
            text-align: center;
        }
    </style>
    <div class="mt-5">
        <form action="#" th:action="@{/addexam}" th:object="${exam}" method="post" class="d-flex flex-column align-items-center">
            <select th:field="${exam.courseId}" class="form-select mb-2 w-50">
                <option value="" disabled selected>Select Course</option>
                <option th:each="course : ${courseList}" th:value="${course.id}" th:text="${course.name}"></option>
            </select>
            <input type="text" th:field="${exam.name}" placeholder="Name" class="form-control mb-2 w-50"/>
            <input type="text" th:field="${exam.description}" placeholder="Description" class="form-control mb-2 w-50"/>
            <input type="number" th:field="${exam.duration}" min="1" placeholder="Duration in minutes" class="form-control mb-2 w-50"/>
            <input type="date" th:field="${exam.startDate}" placeholder="Start Date" class="form-control mb-2 w-50"/>
            <input type="time" name="startTimeString"placeholder="Start Time" class="form-control mb-2 w-50"/>
            <input type="date"  th:field="${exam.endDate}" placeholder="End Date" class="form-control mb-2 w-50"/>
            <input type="time" name="endTimeString" placeholder="End Time" class="form-control mb-2 w-50"/>
            <input type="number" th:field="${exam.passingThreshold}" min="1" max="100" placeholder="Passing threshold in %" class="form-control mb-2 w-50"/>

            <input type="submit" value="Zapisz" class="btn btn-success btn-operation"/>
        </form>
    </div>
</div>
