<div th:fragment="content" class="container mt-5">
    <script>
        function validateForm() {
            const checkboxes = document.getElementsByName('isCorrect');
            let isChecked = false;
            let countChecked = 0;

            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    countChecked++;
                }
            }

            if (!isChecked) {
                alert('Proszę zaznaczyć co najmniej jedną odpowiedź jako prawidłową!');
                return false;
            }

            const typeSelect = document.getElementById('type');
            if (countChecked > 1) {
                typeSelect.value = 'MULTIPLE';
            } else {
                typeSelect.value = 'SINGLE';
            }

            return true;
        }
    </script>
    <h2>Dodaj pytanie do egzaminu</h2>
    <form onsubmit="return validateForm()" th:action="@{/addquestion/{encodedId}(encodedId=${T(pl.isa.javasmugglers.web.service.PathEncoderDecoder).encodePath(question.examId.id)})}" method="post" th:object="${question}">
        <div class="form-group">
            <label for="questionText">Tekst pytania:</label>
            <textarea class="form-control" id="questionText" th:field="*{questionText}"></textarea>
        </div>
        <div class="form-group d-none">
            <label for="type">Rodzaj pytania:</label>
            <select class="form-control" id="type" th:field="*{type}">
                <option th:each="type : ${T(pl.isa.javasmugglers.web.model.ExamQuestion.questionType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div th:each="i : ${#numbers.sequence(1,4)}" class="form-group">
            <label th:for="'answer'+${#strings.arraySplit('a,b,c,d', ',')[i-1]}">Odpowiedź <span th:text="${#strings.arraySplit('a,b,c,d', ',')[i-1]}"></span></label>
            <input type="text" class="form-control" th:id="'answer'+i" name="answers[]">
            <input type="checkbox" name="isCorrect" th:value="${i-1}"> Poprawna odpowiedź
        </div>

        <div class="row">
            <button class="btn btn-success mr-2" th:href="@{/}">Powrót</button>
            <button type="submit" class="btn btn-primary">Zapisz pytanie</button>
        </div>
    </form>
</div>
