<div th:fragment="content" class="container">
    <div th:if="${#lists.isEmpty(coursesList)}">
        Brak dodanych przedmiotów
    </div>
    <table class="table table-striped mt-5" th:unless="${#lists.isEmpty(coursesList)}">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Typ przedmiotu</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Punkty ECTS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courseSession : ${coursesList}">
                <td th:text="${courseSession.getId}">
                <td th:text="${courseSession.getCourseId().courseType}">
                <td th:text="${courseSession.getCourseId().name}">
                <td th:text="${courseSession.getCourseId().description}">
                <td th:text="${courseSession.getCourseId().ectsPoints}">
            </tr>
            </tbody>
        </table>

    </table>
</div>