<div th:fragment="content" class="container">
  <div th:if="${#lists.isEmpty(CourseList)}">
    Brak zajęć w planie lekcji
  </div>
  <table class="table table-striped mt-5" th:unless="${#lists.isEmpty(CourseList)}">
    <table>
      <thead>
      <tr>
        <th>Przedmiot</th>
        <th>Lokalizacja</th>
        <th>Godzina</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="CourseSession : ${CourseList}">
        <td th:text="${CourseSession.getName()}">
        <td th:text="${CourseSession.location}"></td>
        <td th:text="${CourseSession.getDuration()}"></td>
      </tr>
      </tbody>
</div>
