<div th:fragment="content" class="container mt-5">
  <style>
    .btn-operation {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .center {
      text-align: center;
    }
  </style>
  <h3 class="center" th:text="'Witaj Profesorze '+ ${user.getFirstName() + ' ' + user.getLastName()}"></h3>

  <br>

  <div class="center">
    <a th:href="@{/professorTimetable/{authToken}(authToken=*{authToken})}" class="btn btn-info btn-operation mb-4">
      Zobacz listę przedmiotów
    </a>
    <br>
    <a th:href="@{/addcourse/{authToken}(authToken=*{authToken})}" class="btn btn-warning btn-operation mb-4">
      Dodaj przedmiot
    </a>
    <br>
    <a th:href="@{/examlist/{authToken}(authToken=*{authToken})}" class="btn btn-primary btn-operation mb-4">
      Dodaj lub edytuj egzaminy
    </a>

  </div>
</div>
