<div th:fragment="content" class="container">

    <h3>Edytuj odpowiedzi na pytanie:</h3>
    <h4 th:text="${examQuestion.questionText}"></h4>
    <form th:action="@{/update-answers}" method="post" th:object="${examAnswers}">
        <table>
            <thead>
            <tr>
                <td></td>
                <td>Treść odpowiedzi</td>
                <td>Zaznacz prawidłową/we</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="answer, status : *{examAnswers}">
                <td th:text="${alphabet[status.index]} + '.'"></td>
                <td>

                    <input type="hidden" th:field="*{examAnswers[__${status.index}__].id}" th:value="${answer.id}"/>
                    <input type="hidden" th:field="*{examAnswers[__${status.index}__].questionId.id}"
                           th:value="${examQuestion.id}"/>
                    <input type="text" th:field="*{examAnswers[__${status.index}__].answerText}"
                           th:value="${answer.answerText}"/>
                </td>
                <td>
                    <input  type="checkbox" th:field="*{examAnswers[__${status.index}__].correct}"
                           th:checked="${answer.correct}"/>
                </td>
            </tr>

            </tbody>
        </table>
        <button class="btn btn-primary mr-2" th:href="@{/questionlist/{encodedId}(encodedId=${T(pl.isa.javasmugglers.web.service.PathEncoderDecoder).encodePath(examQuestion.id)})}">Powrót</button>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
