<div th:fragment="content" class="container">
    <h3>Edytuj odpowiedzi na pytanie:</h3>
    <h4 th:text="${examQuestion.questionText}"></h4>
    <form th:action="@{/update-answers/{id}(id=${examQuestion.id})}" method="post" th:object="${examAnswers}">
        <table>
            <thead>
            <tr>
                <td>Treść odpowiedzi</td>
                <td>Zaznacz prawidłową/we</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="answer, status : *{examAnswers}">
                <td>
                    <input type="hidden" th:field="*{examAnswers[__${status.index}__].id}" th:value="${answer.id}"/>
                    <input type="hidden" th:field="*{examAnswers[__${status.index}__].questionId.id}" th:value="${examQuestion.id}"/>
                    <input type="text" th:field="*{examAnswers[__${status.index}__].answerText}" th:value="${answer.answerText}"/>
                </td>
                <td>
                    <input type="checkbox" th:field="*{examAnswers[__${status.index}__].correct}" th:checked="${answer.correct}"/>
                </td>
            </tr>

            </tbody>
        </table>
        <button type="submit">Zapisz</button>
    </form>

</div>
