<div th:fragment="content" class="container">
    <h3>Witaj profesorze, oto twój plan lekcji:</h3>
    <h3 th:text="${user.getFirstName() + ' ' + user.getLastName()}"></h3>
    <h3>Oto twój plan lekcji:</h3>
    <div th:if="${#lists.isEmpty(professorTimetable)}">
        Brak zajęć w planie lekcji
    </div>
    <table class="table table-striped mt-5" th:unless="${#lists.isEmpty(professorTimetable)}">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Typ przedmiotu</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Punkty ECTS</th>
                <th>Lokalizacja</th>
                <th>Data</th>
                <th>Godzina rozpoczęcia</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courseSession : ${professorTimetable}">
                <td th:text="${courseSession.getId()}">
                <td th:text="${courseSession.getCourseType()}">
                <td th:text="${courseSession.getName()}">
                <td th:text="${courseSession.getDescription()}">
                <td th:text="${courseSession.getEctsPoints()}">

            </tr>
            </tbody>
        </table>

    </table>
</div>
