<div th:fragment="content" class="container mt-12">
    <style>
        .btn-operation {
            width: 150px;
        }

        .justify {
            text-align: justify;
        }

        .center {
            text-align: center;
        }

        .wider {
            width: 300px;
            overflow: auto;
        }
    </style>
    <script>
        function confirmDelete(questionId) {
            return confirm('Czy na pewno chcesz usunąć to pytanie?');
        }
    </script>
    <br>
    <br>
    <h4 class="text-center" th:text="${exam.getCourseId.getName + ': ' + exam.name}"></h4>
    <br>

    <div th:if="${#lists.isEmpty(questionList)}" class="alert alert-warning">
        Brak pytań przypisanych do egzaminu
    </div>
    <div th:unless="${#lists.isEmpty(questionList)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Numer pytania</th>
                <th class="text-center wider">Pytanie</th>
                <th class="text-center">Rodzaj pytania</th>
                <th class="text-center wider">Odpowiedzi</th>
                <th class="text-center">Poprawna odpowiedz</th>
                <th class="text-center">Operacje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, stat : ${questionList}">
                <td class="text-center" th:text="${stat.count}"></td>
                <td class="text-center justify wider" th:text="${question.getQuestionText}"></td>
                <td class="text-center">
                    <div th:switch="${question.getType.name()}">
                        <p th:case="'SINGLE'">Jednokrotny wybór</p>
                        <p th:case="'MULTIPLE'">Wielokrotny wybór</p>
                    </div>
                </td>
                <td class="wider">
                    <ol type="a">
                        <li th:each="answer : ${question.examAnswerList}" th:text="${answer.answerText}"></li>
                    </ol>
                </td>
                <td>
                    <ol type="a">
                        <li th:each="answer : ${question.examAnswerList}"
                            th:text="${answer.isCorrect} ? 'Poprawna' : 'Niepoprawna'"></li>
                    </ol>
                </td>


                <td class="center">
                    <a th:href="@{/edit-question/{encodedId}(encodedId=${T(pl.isa.javasmugglers.web.service.PathEncoderDecoder).encodePath(question.getId)})}"
                       class="btn btn-secondary btn-operation mb-2 text-center">Edytuj pytanie</a>
                    <a th:href="@{/edit-answers/{encodedId}(encodedId=${T(pl.isa.javasmugglers.web.service.PathEncoderDecoder).encodePath(question.getId)})}"
                       class="btn btn-primary btn-operation mb-2 text-center">Edytuj odpowiedzi</a>
                    <form th:action="@{/delete/question/{encodedId}(encodedId=${T(pl.isa.javasmugglers.web.service.PathEncoderDecoder).encodePath(question.getId)})}" method="post">
                        <input type="hidden" name="examID" th:value="${examID}">
                        <button type="submit" class="btn btn-danger btn-operation text-center"
                                onclick="return confirmDelete('${question.getId()}')">Usuń pytanie</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <a th:href="@{/examlist}" class="btn btn-success btn-operation mb-5">Powrót</a>
    <a th:href="@{/addquestion/{id}(id=${examID})}" class="btn btn-primary btn-operation mb-5">Dodaj pytanie</a>
</div>
