<html>
<body>
<h1 th:text="registration page">form</h1>
<form action="/static" th:object="${user}" method="POST" enctype="utf8">
  <div>
    <label th:text="firstName">first name</label>
    <input th:field="firstName"/>

  </div>
  <div>
    <label th:text="lastName">last name</label>
    <input th:field="lastName"/>

  </div>
  <div>
    <label th:text="label.user.email">email</label>
    <input type="email" th:field="email"/>

  </div>
  <div>
    <label th:text="password">password</label>
    <input type="password" th:field="password"/>

  </div>
  <div>

  </div>
  <button type="submit" th:text="submit">submit</button>
</form>

<a href="login" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;login</a>
</body>
</html>>