<div th:fragment="content" class="container">
    <h4>Witaj</h4>
    <h4 th:text="${user.getFirstName() + ' ' + user.getLastName()}"></h4>
    <h5>Oto wyniki twoich egzaminów:</h5>
    <table class="table">
        <tr>
            <th>Przedmiot</th>
            <th>Nazwa egzaminu</th>
            <th>Twój wynik</th>
            <th>Maksymalny wynik</th>
            <th>Procent</th>
        </tr>
        <tr th:each="result, i : ${examResults}">
            <td th:text="${result.getExamId().getCourseId().getName()}"></td>
            <td th:text="${result.getExamId().getName()}"></td>
            <td th:text="${result.getStudentScore()}"></td>
            <td th:text="${result.getMaxExamScore()}"></td>
            <td th:text="${percentageScores[i.index]}"></td>
        </tr>
    </table>
    <a th:href="@{/user-dashboard/{id}(id=${userID})}" class="btn btn-success">Powrót</a>
</div>
