<div th:fragment="content" class="container mt-5">
  <style>
    .btn-operation {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .center {
      text-align: center;
    }
  </style>
  <h3 class="center" th:text="'Witaj '+ ${user.getFirstName() + ' ' + user.getLastName()}"></h3>

  <br>

  <div class="center">
    <a th:href="@{/students/schedule}" class="btn btn-secondary btn-operation mb-4">
      Zobacz plan lekcji
    </a>
    <a th:href="@{/students/register}" class="btn btn-secondary btn-operation mb-4">
      Zapisz się na zajęcia
    </a>
    <a th:href="@{/students/registered-courses}" class="btn btn-secondary btn-operation mb-4">
      Aktywne kursy
    </a>
    <br>
    <a th:href="@{/showactiveexams}" class="btn btn-info btn-operation mb-4">
      Wyświetl aktywne egzaminy
    </a>
    <br>
    <a th:href="@{/userexamresults}" class="btn btn-success btn-operation mb-4">
      Wyświetl wyniki egzaminów
    </a>
  </div>
</div>
